# env files
.env
.env.local

# local package management
.venv
node_modules

# project files
uv.lock
.next

# coverage files
.coverage

# build files
*.tar.gz
*.whl
dist
build
*.egg-info

# cache files
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache

# e2e specific files
.playwright-report
apps/e2e/results/*
apps/e2e/log.html
apps/e2e/output.xml
apps/e2e/report.html
